:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --ocean: #404bbf;
  --white: #ffffff;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
}

header {
  border: 1px solid var(--cornflower);
}

body {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: var(--slate);
  background-color: var(--white);
}

.link {
  text-decoration: none;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-text-studio {
  color: var(--navy-blue);
}

.logo-text-studio-footer {
  color: var(--cloud);
}

.list {
  list-style: none;
}

.list .nav-list {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list .nav-list:focus,
.list .nav-list:active,
.list .nav-list:hover {
  color: var(--ocean);
}

.address-header {
  font-style: normal;
}

.list .contacts {
  color: var(--slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts:focus,
.contacts:hover {
  color: var(--ocean);
}

.section-title {
  background-color: var(--navy-blue);
  text-align: center;
}

.title {
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.button-order {
  font-family: "Roboto", sans-serif;
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 0;
  cursor: pointer;
}

.button-order:focus,
.button-order:hover {
  background-color: var(--ocean);
}

.section-info h2 {
  color: var(--white);
}

.title-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.description-title-info {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title-service {
  color: var(--navy-blue);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-team {
  background-color: var(--cloud);
}

.section-team .team-list {
  background-color: var(--white);
}

.section-filter h1 {
  color: var(--white);
  text-align: center;
}

.section-filter .button-filter {
  font-family: "Roboto", sans-serif;
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border: 1px solid var(--cornflower);

  cursor: pointer;
}

.section-filter .button-filter:focus,
.section-filter .button-filter:hover {
  background-color: var(--ocean);
  color: var(--white);
  border-color: var(--ocean);
  text-align: center;
}

.title-list {
  text-align: left;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mark-filter {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-footer {
  background-color: var(--navy-blue);
}

.main-footer .text-footer {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
